PRIVATE_KEY=YOUR PRIVATE KEY
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
ARBISCAN_API_KEY=

ORACLE_ADDRESS=deployed_oracle_address
VAULT_ADDRESS=deployed_vault_address
LIQUIDATOR_ADDRESS=deployed_liquidator_address